<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>글꼴 테스트기</title>
  <style>
    ul {
      list-style: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f5f5f5;
    }

    label {
      display: block;
      font-weight: bold;
      margin-bottom: 5px;
    }

    input {
      width: calc(100% - 12px);
      margin-bottom: 5px;
      padding: 5px;
    }
  </style>
</head>
<body>
  <div id="app">
    <h1>글꼴 테스트기</h1>
    <ul>
      <li v-for="font in fonts" :key="font.style">
        <label for="글꼴 이름">{{ font.style }} 테스트</label>
        <input type="text" id="글꼴 이름" v-model="inputText">
        <div :style="{ 'font-family' : font.style }">{{ inputText }}</div>
      </li>
    </ul>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>

    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const inputText = ref('')
        // const inputText2 = ref('')
        // const inputText3 = ref('')

        const fonts = [
          {style : '바탕', text : null},
          {style : '휴먼엽서체', text : null},
          {style : '궁서체', text : null}
        ]


        return {
          fonts,
          inputText
        }
      }


    }).mount('#app')
  </script>
</body>
</html>
