<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div id="app">
    <p :style="styleObject">Let's change the font style!</p>
    <hr>
    <p>색상 목록</p>
    <ul>
      <li>red</li>
      <li>blue</li>
    </ul>

    <p>글꼴 목록</p>
    <ul>
      <li>fantasy</li>
      <li>cursive</li>
      <li>Impact</li>
    </ul>
    <hr>

    <form>
      <label for="color">색 입력 : </label>
      <input type="text" id="color" v-model="colorType">
      <br>
      <label for="font">글꼴 입력 : </label>
      <input type="text" id="font" v-model="fontType">
      <br>
      <button @click="changeStyle()">변경!</button>
      <input @keyup.enter="changeStyle()">
    </form>
  </div>

  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp, ref } = Vue

    const app = createApp({
      setup() {
        const colorType = ref('')
        const fontType = ref('')
        const styleObject = ref({
          color: colorType,
          'font-family': fontType
        })
        const changeStyle = function (event) {
          
        }
        return {
          colorType,
          fontType,
          styleObject,
          changeStyle

        }
      }
    }).mount('#app')

  </script>
</body>
</html>
